# Required for production
SITE_URL=flowremoteops.com
GOOGLE_SHEET_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbx-TRFfzmSletoGJysh30Anw8VZAf-Vr-pzSxmG0xrtYKUtqVE25BRE6AmW_vrNIq16/exec
FLASK_ENV=production

# Optional
# SECRET_KEY=your-secret-key-here