# Required for production
SITE_URL=flowremoteops.com
GOOGLE_SHEET_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbwsjD-85BsRPYwl94ad-_eDjsTF0GpI7WpuJx_V6Hmn8pAAU2xuKy-DUjXkNY_W6jwZ/exec
FLASK_ENV=production

# Optional
# SECRET_KEY=your-secret-key-here